html{
	color:#333333;
	background-color:lightgrey;
}

body{
	width:1000px;
	min-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.title{
	font-size: 150px;
	text-shadow: 0px 1px 0px white;
	font-family: 'Amaranth', sans-serif;
	font-weight:bold;
	text-align:center;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.subtitle{
	font:20px 'Lucida Sans', 'Lucida Grande';
	text-align:center;
}

.examples{
	text-shadow: 0px 1px 0px white;
	font: 28px 'Amaranth', sans-serif;
	font-weight:bold;
	position:relative;
}

.features{
	text-shadow: 0px 1px 0px white;
	font: 28px 'Amaranth', sans-serif;
	font-weight:bold;
	position:relative;
	left:480px;
}

#demo{
	margin-top:30px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#usage{
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	top:30px;
	font-family:'Lucida Sans', 'Lucida Grande';
	margin-bottom:80px;
}

#demoHolder{
	width:460px;
	display:inline-block;
	position:relative;
	overflow-y:auto;
	top:-50px;
}

#featureHolder{
	width:450px;
	display:inline-block;
	position:relative;
	top:0px;
	line-height:20px;
	font-size:14px;
	left:100px;
	font-family:'Lucida Sans', 'Lucida Grande';
}

.code{
	text-shadow: none;
	font-size: 12px;
	line-height: 18px;
	margin: 5px 0 30px 0;
}